@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #d9cfc1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;      
}

#info-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;     
}

h1 {
    text-align: center;
}

#card {
    display: flex;
    border-radius: 20px;
    background: #D8BC92;
    border: 5px solid black;
    width: 450px;
    height: 450px;
    padding: 20px 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

#input {
    padding: 10px;
    border-radius: 30px;
    border: 2px solid black;
    background: #d9cfc1;
    font-size: 15px;
}

#submit {
    padding: 10px;
    border-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
    background: #D8BC92;
    font-size: 15px;
    color: aliceblue;
    background: black;
}

#img{
    height: 200px;
    border-radius: 30px;
    border: 2px solid black;
}
